includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  phpVersion: 80200

  paths:
    - ./src

  bootstrapFiles:
    - ./vendor/autoload.php
    - ./tests/phpstan/bootstrap.php

  stubFiles:
    - ./vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php

  treatPhpDocTypesAsCertain: false

  scanFiles:
    - sparxstar-3iatlas-dictionary.php

  excludePaths:
    - tests/*
    - vendor/*
    - node_modules/*
    - assets/*

  ignoreErrors:
    -
      identifier: missingType.iterableValue
    -
      identifier: missingType.generics

